.header{
    text-align: center;
    margin-top: 5rem;
}
body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

a{
    color: #007bff;
    text-decoration: none;
}   
.App {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 14px;
    color: #777;
}